body {
	margin: 0;
}

.container {
	border:solid black 3px;
	width: 700px;

}

.form-horizontal {
	margin-top: 80px;
	margin-left: 30px;

}

/*.form-horizontal > .form-group > label >p {
	float: right;
}*/

#mad-lib-console {
	margin-top: 20px;
	font-size: 16pt;
}

.color {
	color: #0000ff;
}